.divLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    min-height: 35vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1px;
    border-radius: 7%;
    box-shadow: 1vh 1vh 3vh rgba(0, 0, 0, 0.3);  
}

body{  
    margin: 0; 
    background-color: rgba(0,23, 2, 1);
}

input {
    border-radius: 100px;
    width: 72%;
    margin-left: 4.5vw;
    border-width: 0.1vw; 
    margin-top: 5vh;
    padding: 0.3vw;
    background-color: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.nomeDeUsuario {
    margin-left: 5vw;
    font-family: 'Inter', sans-serif;
    font-size: clamp(12px, 1vw, 18px); 
    color: white;   
    position: relative;
    top: 5vh;
}

.senhaDoUsuario {
    margin-left: 5vw;
    margin-top: 1.2vw;
    font-family: 'Inter', sans-serif;
    font-size: clamp(12px, 1vw, 18px);
    color: white; 
    position: relative;
    top: 5vh;
}

button {
    color: white;
    border: none;
    padding: 0.4vw;
    background-color: rgb(34, 197, 94);
    border-radius: 100px; 
    width: 43%;
    margin-top: 5vh;
    margin-left: 8.3vw;
    cursor: pointer;
}

img {
    display: block;
    margin: 0 auto; 
    width: 70%;
    padding-top: 6vh;
}

label {
    font-family: 'inter' sans-serif;
}

button:hover {
    background-color: rgb(99, 255, 79);
}