@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-weight: 300;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-left: 4vw;
}

.titulo i{
    margin-top: 4.7vh;
    margin-left: 0.5vw;
    cursor: pointer;
}

.titulo i:hover{
    color: rgb(102, 255, 0);
    transform: scale(1.5); 
}

h1{
    position:relative; 
    z-index: 1;
    color: white;  
    margin-top: 2vh;
    font-family: "Jaro", sans-serif;
    font-size: 5.3vh;
    font-weight: 100; 
}

body{ 
    background-position: top center; 
    background-image: url('../../imgs/FundoLogin.svg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    height: 100vh;
    font-family: 'Inter', sans-serif;
} 

.componenteDeTreino{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-left: 5vw;
    margin-top: 2vh;
}

.camadaPreta{
    inset: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}

.caixaDeTreino{
    display: block;
    padding-top: 2vh;
    align-items: center;
    background-color: rgba(195, 255, 172, 0.6);
    width: 50vh;
    border-radius: 9px;
}

.nomeTreino h2{
    font-family: 'inter', sans-serif;
    font-weight:400;
    font-size: 2vh;
}

.exercicio{
    width: 45vh;
    padding: 0.6vw;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 1vw;
    height: 5vh;
}

.exercicio p{
    font-size: 2vh;
}

.botaoComecar{
    margin-left: 35%; 
}

.botaoComecar button{
    margin-top: 2vh;
    border: none;
    border-radius: 8px;
    height: 4.5vh;
    width: clamp(100px, 7vw, 10vw);
    background-color: rgb(48, 255, 44);
    cursor: pointer;
}

.botaoComecar button:hover{
    display:block;
    background-color: rgb(102, 255, 0);
    /* Aumenta visualmente sem mecher no espaço que ele ocupa */
    transform: scale(1.1);
}

.container{
    background-color: rgba(156, 218, 132, 0.5);
    width:28vw;
    padding-top: 10px;
    border-radius: 12px;
    display: block; 
    min-height: 10vh;
    overflow: hidden;
    box-sizing: border-box;
}

#treinosCadastradosContainer{
    display: none;
}

#treinosCadastradosContainer.visivel{
    display: block;
}

.barraDePesquisa{
    background-color: rgba(255, 255, 255, 1);
    height: 3%;
    width: 60%;
    border-radius: 45px; 
    padding-top: 0.5%;
    padding-left: 1%;
    border: none;
    margin-left: 6%;
}

.barraDePesquisa::placeholder{ 
    font-size:100%;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: black;
}

.componenteDeExercicio{
    display: flex;
    gap: 2%;
    background-color: rgba(217, 217, 217, 1);
    padding-bottom: 1%;
    margin-left: 5%;
    margin-right: 1.7%;
    margin-top: 7%; 
    border-radius: 20px;
    color: black;
    align-items: center;
    white-space: nowrap;
    width: 80%;
}

.componenteDeExercicio p{
    display: flex;
    font-size: clamp(10px, 1vw, 100px);
    margin-left: 6%;
    margin-top: 1%;
    color: black;
    font-weight: 400;
}

.valor{ 
    color: black;
}